@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main::-webkit-scrollbar {
    display: none;
  }
  main {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  *:focus {
    outline: none;
  }
}

@layer components {
  .loader {
    width: 45px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.700) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    @apply animate-loading;
  }
}
